# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.sqlite3
*.db
database.db

# Flask
instance/
.webassets-cache

# General
.DS_Store
Project _Proposal [231311010] 1.pdf
push_to_github.bat
