{% extends "base.html" %}

{% block title %}Reset Password - Ezox Bypass{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-container glass-panel">
        <div class="section-header text-center" style="margin-bottom: 30px;">
            <h2 style="font-size: 2rem;">New <span class="text-gradient">Password</span></h2>
            <p>Please enter your new password</p>
        </div>
        
        <form action="" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group" style="margin-bottom: 20px;">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" class="form-input" required placeholder="Enter new password" minlength="6">
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Update Password</button>
        </form>
    </div>
</section>
{% endblock %}
